.slider__list {
  width: calc(100% + 20px);
  margin: 0 0 50px 120px;
  padding: 0;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0;
  column-gap: 40px;
  line-height: 0;
}
